[Unit]
Description=speX WebService
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill spex
ExecStartPre=-/usr/bin/docker rm spex
ExecStartPre=/usr/bin/docker pull corfr/spex
ExecStart=/usr/bin/docker run \
                  --name spex \
                  --link mysql \
                  -e MYSQL_ENV_DB_NAME=${MYSQL_ENV_DB_NAME} \
                  -e MYSQL_ENV_DB_USER=${MYSQL_ENV_DB_USER} \
                  -e MYSQL_ENV_DB_PASS=${MYSQL_ENV_DB_PASS} \
                  -v /storage/web/specs:/home/app/webapp/specs \
                  -p 80:80 \
                  corfr/spex
ExecStop=/usr/bin/docker kill spex
