<ul>
    <% for scope in SpecScope.all %>
        <li><h2><%= scope.scope %></h2></li>
        <% for serie in scope.spec_series %>
            <li><%= link_to "#{serie.index} Series", specs_res_url(:serie => serie.index) %>: <%= serie.subject %></li>
        <% end %>
    <% end %>
</ul>