<h1><%= @spec.name %></h1>
<h2><%= @spec.title %></h2>
<ul>
    <% for vers in @spec.document_versions %>
        <li><%= link_to vers.version, specs_res_url( {
            :serie => @spec.spec_serie.index,
            :spec => @spec.name.gsub('.','_'),
            :version => vers.version.gsub('.','_') } ) %></li>
    <% end %>
</ul>