
.data-block
    width: 800px
    margin: 10px auto

.block
    background: white
    border: 1px solid #777
    -webkit-border-radius: 3px
    border-radius: 3px
    -webkit-box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.4)
    box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.4)

    h4
        padding: 5px
        font-weight: bold
        border-bottom: 1px solid #AAA
        margin: 0 10px

    h5
        padding: 3px
        margin: 0 10px

    table.data-table
        width: 780px
        margin: 10px auto

li.block
    margin: 10px 0
