<!DOCTYPE html>
<html>
<head>
  <title>SpexV1</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% @content_partial ||= "layouts/default" %>
  <%= render :partial => @content_partial %>
</body>
</html>
